<main class="form-signin w-100 m-auto">
    <div class="d-grid gap-2 col-2 mx-auto position-absolute top-50 start-50 translate-middle">
        <form action ="/login" method="post" id="loginForm">
                <p></p>
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="nome@example.com" required>
                <label for="form-floating">Email</label>
                <p></p>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="senha" required>
                <label for="floatingPassword">Senha</label>
            </div>
            <p></p>
            <div class="d-grid gap-2">
                <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
                <button type="button" class="w-100 btn btn-success" onclick="window.location.href='/addAdmin'">Registre-se</button>
                <button type="button" class="w-100 btn btn-outline-dark" onclick="window.location.href='/paineldecontrole'">DemoAdmin</button>
            </div>
        </form>
    </div>
</main>