<main class="form-signin w-100 m-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md noweap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Adicionar Usuário</h1>
        <div class="btn-tollbar mb-2 mb-md 0">
            <div class="btn-group me-2">
                <a href="/paineldecontrole" class="btn btn-sm btn-outline-secondary">Painel de Controle</a>
            </div>
        </div>
    </div>
    <form action="/addAdmin" method="POST">
        <div class="d-grid gap-2 col-2 mx-auto position-absolute top-50 start-50 translate-middle">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="nome" placeholder="nome" required>
                <label for="form-floating">Nome</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="email" placeholder="nome@example.com">
                <label for="form-floating">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control lnr lnr-eye" id="floatingInput" name="senha" placeholder="nome@example.com">
                <label for="floatingPassword">Senha</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="ddd" placeholder="nome@example.com" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "2">
                <label for="form-floating">DDD</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="numero" placeholder="nome@example.com"oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "9">
                <label for="form-floating">Número</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
            </div>
            </div>
        </div>
    </form>
</main>